@import "tailwindcss";

body {
  background-color: #1f293d;
  color: #fafafa;
}

table.MuiTable-root * {
  color: #fafafa;
}

.MuiPaper-root table * {
  background-color: #1f293d;
  color: #fafafa;
}

label.MuiInputLabel-root {
  color: #fafafa;
}

input.MuiInputBase-input,
textarea.MuiInputBase-input {
  color: #fafafa;
}

fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #fafafa;
}
